repos:
  -   repo: https://github.com/ambv/black
      rev: stable
      hooks:
      - id: black
  -   repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.9
      hooks:
      - id: flake8
  -   repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.2.1  # Use the revision sha / tag you want to point at
      hooks:
      -   id: isort